
{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
    <h2>{% if form.instance.pk %}{% trans "Edit Author"%}{% else %}{% trans "Add New Author"%}{% endif %}</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
            <div class="invalid-feedback">
                {% trans "Please provide a name."%}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Save"%}</button>
    </form>
</div>
{% endblock %}