{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
    <h2>{% trans "Category List"%}</h2>
    {%if is_manager%}
        <a href="{% url 'category_create' %}" class="btn btn-primary mb-3">{% trans "Add New Category"%}</a>
    {%endif%}
    <ul class="list-group">
        {% for category in categories %}
        <li class="list-group-item">
            <a href="{% url 'category_detail' category.pk %}">{{ category.name }}</a>
            <span class="float-right">
                {%if is_manager%}
                    <a href="{% url 'category_update' category.pk %}" class="btn btn-warning btn-sm">{% trans "Edit"%}</a>
                    <a href="{% url 'category_delete' category.pk %}" class="btn btn-danger btn-sm">{% trans "Delete"%}</a>
                {%endif%}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}